.erro{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.erro h1{
    font-size: 120px;
}

.erro a{
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(51, 1, 92);
    color: rgb(216, 216, 216);
    font-weight: 600;
    padding: 10px;
    margin-top: 14px;
}